body {
  background: white;
}

.nav-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  margin: 0;
  padding: 0 auto;
  align-items: center;
  gap: 10px;
}

.title {
  text-align: center;
  color: rgb(218, 28, 28);
  text-shadow: 2px 2px 2px whitesmoke
}
a:link {
  text-decoration: none;
}

a {
  color: rgb(33, 33, 239);
  text-shadow: 1px 1px 1px black;
  font-size: 25px;
  align-items: center;
}

.loading {
  text-align: center
}

.add-title {
  text-align: center;
}

.form-page {
  background: grey;
}
.submitBtn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100px;
  font-size: 20px;
  color: white;
  background-color: black;
  padding: 5px;
}

input {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

label {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
}


input::placeholder {
  font-weight: bold;
  color: rgb(5, 5, 210);
}

.details-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.details-image {
  padding: 1rem;
  width: 200px;
}

.details {
  padding: 1rem;
  width: 350px;
  background: lightblue;
}

.details h2 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 0;
}

.details h3 {
  font-family: 'Noto Serif', Georgia, serif;
  font-style: italic;
  font-weight: 200;
  margin-top: 0;
}

