body {
  background: white;
}

.nav-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  margin: 0;
  padding: 0 auto;
  align-items: center;
  gap: 10px;
}

.title {
  text-align: center;
  color: rgb(218, 28, 28);
  text-shadow: 2px 2px 2px whitesmoke
}
a:link {
  text-decoration: none;
}

a {
  color: rgb(33, 33, 239);
  text-shadow: 1px 1px 1px black;
  font-size: 25px;
  align-items: center;
}

.loading {
  text-align: center
}